.cardsCompo{
    width: 95%;
    display: flex;
    padding-left: 5%;
}

.card{
    flex-wrap: wrap;
    width: 30%;
    height: 400px;
    margin-right: 40px;
    border: 1px solid black;
}
.card:hover{
    cursor: pointer;
    
}

.card img{
    width: 100%;
    height: 400px ;
}